{% extends 'main/layout.html' %}

{% block title %}{{ profile.user }}{% endblock %}

{% block content %}
    <div class="features">
        <div class="profile">
            <h2>{{ profile.user }}</h2>

        <div class="profile row" style="margin-left: 20px;">
            <div class="profile__block">
                {% if profile.avatar.name %}
                    <img src="{{ profile.avatar.url }}" >
                {% endif %}
                <br>
                <br>
                {% if profile.id == user.id %}
                    <a href="{% url 'edit' %}" class="btn btn-sm btn-info">Редактировать профиль</a>
                {% endif %}
            </div>
                <dl class="profile__profile">
                    <dt class="text-right">Полное имя:</dt>
                    <dd class="">{{ profile.first_name }}</dd>
                    <dt class="text-right">Номер телефона:</dt>
                    <dd class="">{{ profile.phone }}</dd>
                </dl>
        </div>
        <br>
        <h2>Посты пользователя</h2>
{% for el in post %}
            <div class="alert alert-warning">
                <div class="article-panel">
                    <p class="first"><a href="{% url 'profile-detail' el.author.id %}">{{ el.author }}</a></p><br>
                    <p class="last">Дата: {{el.date|date:"d-m-Y"}}</p>
	                <p class="first">Категория: {{el.cat}}</p><br>
                </div>
                <h2>{{ el.title }}</h2>
                {% if el.photo %}
	            <p><img class="img-article-left" src="{{ el.photo.url }}"></p>
                {% endif %}
                {% autoescape on %}
	            {{el.full_text|linebreaks|truncatewords:50}}
	            {% endautoescape %}<br>
                <a href="{% url 'post-detail' el.pk %}" class="btn btn-warning">Читать далее...</a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

